@media screen and (max-width: 767px) {
    .app-header {
        display: flex;
        align-items: flex-start;
    }

    .app-header img {
        object-fit: scale-down;
        align-self: flex-start;
        max-width: 100%;
        height: auto;
    }
}